<h1 class="animated fadeIn fast">Sobre Cómic App</h1>
<hr>

<p class="animated fadeIn">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis aliquid perferendis inventore, beatae quisquam laborum modi dolorem? Magni, aut ipsum. Nemo et quam dolor? Minus, earum veritatis! Adipisci, fugit quo.</p>