<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1 class="display-4">Cómic App</h1>
        <p class="lead">Ésta es una aplicación de comics.</p>
    </div>
</div>